# Variables de Entorno del Backend
# Crea un archivo llamado '.env' (sin la extensión .example) y rellena estos datos.

# 1. Configuración de Google SMTP (Envío de correos)
# Debes crear una "Contraseña de aplicación" en tu cuenta de Google.
SMTP_USER="tucorreo@gmail.com"
SMTP_PASS="tu_contraseña_de_aplicacion_de_16_caracteres"

# 2. Configuración de Firebase Admin (Base de datos)
# Ve a Firebase Console > Configuración del Proyecto > Cuentas de Servicio > Generar nueva clave privada.
FIREBASE_PROJECT_ID="tu-project-id"
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-xxxxx@tu-project-id.iam.gserviceaccount.com"
# Copia la clave privada exacta como viene en el JSON (incluyendo los \n)
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...TU_LLAVE_AQUI...\n-----END PRIVATE KEY-----\n"

# 3. Seguridad del Cron Job
# Genera un string aleatorio para proteger tu endpoint de llamadas externas no autorizadas
CRON_SECRET="una_contrasena_segura_aleatoria_123"
